<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Options Sidekiq
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to "Mail Send", root_path,  class: "dropdown-item" %></li>
            <li><a class="dropdown-item" href="#">Handling Error</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Send Mailer</h1>
        <%= form_tag dispatch_mail_welcome_index_url do %>
          <div class="mb-3">
            <%= label_tag 'Name', nil, class: 'form-label' %>
            <%= text_field_tag 'mail[name]', nil, class: 'form-control', required: true %>
          </div>
          <div class="mb-3">
            <%= label_tag 'Email' %>
            <%= text_field_tag 'mail[email]', nil, class: 'form-control', pattern: '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$', required: true %>
          </div>
          <div class="mb-3">
            <%= label_tag 'Message' %>
            <%= text_area_tag 'mail[message]', nil, class: 'form-control', required: true %>
          </div>
          <div class="mb-3">
            <%= label_tag 'Quantity' %>
            <%= number_field_tag 'mail[quantity]', nil, class: 'form-control', required: true %>
          </div>
          
          <%= submit_tag "Submit", class: 'btn btn-primary' %>
        <% end %>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
        </p>
      </div>
    </div>
  </section>
</main>